body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.layered-canvas-wrapper {
    display: grid;
}

.layered-canvas {
    grid-row: 1;
    grid-column: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


/* Rounded border */

hr.rounded {
    border-top: 1px solid #bbb;
}

.left-border {
    border-left: 1px solid lightgray;
}

.right-border {
    border-right: 1px solid lightgray;
}

.up-border {
    border-top: 1px solid lightgray;
}

.down-border {
    border-bottom: 1px solid lightgray;
}

.content {
    padding: 10px;
}

.TOB {
    position: fixed;
    text-align: right;
}

.TOB ul {
    list-style-type: none;
}

.TOB-li {
    margin: 10px;
}

.TOB-a {
    color: gray;
    padding: 10px;
    font-size: 24px;
    border: 0px solid black;
    border-radius: 0px;
}

.TOB-a:hover {
    background-color: rgb(219, 219, 219);
    border-right: 4px solid #4287f5;
    border-radius: 10px 0px 0px 10px;
}

.align-right {
    text-align: right;
}

.input-block {
    margin: 20px;
}

canvas {
    margin: 20px;
}

strong {
    font-weight: 700;
}